<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <%- include('block/face') %>
        <section class="section section_sostav">
            <div class="container">
                <div class="sostav">
                    <div class="sostav__title section__title"><h1>Состав</h1></div>
                    <div class="sostav__body">
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-1.jpg" alt=""></div>
                                <div class="sostav__name">Гамамелис</div>
                                <div class="sostav__description">богат флавоноидами и дубильными веществами. Танины обладают замечательным вяжущим свойством, а также обладают антибактериальным действием. Смягчает поверхностный слой кожи, предотвращает появление воспалений.</div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-2.jpg" alt=""></div>
                                <div class="sostav__name">Масло розмарина</div>
                                <div class="sostav__description">восстанавливает эластичность верхнего слоя кожи (эпидермиса) и смягчает ее толстые участки. Его также используют для скорейшего удаления шрамов.</div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-3.jpg" alt=""></div>
                                <div class="sostav__name">Масло тимьяна</div>
                                <div class="sostav__description">обладает антисептическими, бактерицидными свойствами, повышает приток крови к коже и тем самым ускоряет заживление ран и проблем с кожей</div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-4.jpg" alt=""></div>
                                <div class="sostav__name">Масло чайного дерева</div>
                                <div class="sostav__description">обладает очень сильным антисептическим действием, глубоко проникает в подкожный слой, лечит проблемные участки кожи, не повреждая здоровые клетки. Он практически не имеет побочных реакций, не раздражает и не сушит кожу.</div>
                            </div>
                        </div>
                    </div>
                    <div class="sostav__product"><img src="../media/product-2.png" alt=""></div>
                </div>
            </div>
        </section>
        <section class="section section_advantages">
            <div class="container">
                <div class="advantages">
                    <h2 class="advantages__title">преимущества <mark>Zenidol</mark></h2>
                    <div class="advantages__body">
                        <div class="advantages__info">
                            <div class="advantages__list">
                                <div class="advantages__item"><p><span>-1.</span> Способствует очищению организма</p></div>
                                <div class="advantages__item"><p><span>-2.</span> Благоприятно влияет на работу ЖКТ</p></div>
                                <div class="advantages__item"><p><span>-3.</span> Помогает избавиться от вредоносных микроорганизмов</p></div>
                            </div>
                        </div>
                        <div class="advantages__media"><img src="../media/product.png" alt=""></div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/face') %>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>