<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <%- include('block/face') %>
        <section class="section section_sostav">
            <div class="container">
                <div class="sostav">
                    <h2 class="sostav__title">Состав <mark>Wormin</mark> </h2>
                    <div class="sostav__body">
                        <div class="sostav__row">
                            <div class="sostav__col">
                                <div class="sostav__name">Анис</div>
                                <div class="sostav__description">Усиливает перистальтику, улучшает работу желудка, способствует отхождению газов. Помогает в лечении воспалительных заболеваний мочевыводящих и желчевыводящих путей. Улучшает пищеварение, укрепляет иммунную систему.</div>
                            </div>
                            <div class="sostav__col">
                                <div class="sostav__name">Редис</div>
                                <div class="sostav__description">Содержит витамин С, витамины группы В, калий. Фенольные соединения в составе редиса обладают антиоксидантным эффектом, то есть защищают клетки от окисления. Также они усиливают влияние витамина С на сосуды – он делает их менее ломкими, разжижает кровь.</div>
                            </div>
                        </div>
                        <div class="sostav__row">
                            <div class="sostav__col">
                                <div class="sostav__name">Чеснок</div>
                                <div class="sostav__description">Обладает мощным антибактериальным, противогрибковым и антисептическим действием, борется с вредоносными микробами в организме человека. Особенно эффективен в очищении желудочно-кишечного тракта от различных гельминтов.</div>
                            </div>
                            <div class="sostav__col">
                                <div class="sostav__name">Сенная палочка</div>
                                <div class="sostav__description">Бациллы, которые являются антагонистами для дрожжевых грибов, сальмонелл, амебы протей и дизентерийной, стрепто- и стафилококков. В процессе жизнедеятельности сенные бациллы синтезируют аминокислоты, антибиотики, ферменты и иммуноактивные вещества.</div>
                            </div>
                        </div>
                        <div class="sostav__row">
                            <div class="sostav__col">
                                <div class="sostav__name">Семена тыквы</div>
                                <div class="sostav__description">Содержат витамины группы В, витамины, А, С, D, Е и К, а также кальций, селен, калий, железо, фосфор и магний. Кроме того, богаты тыквенной кислотой, насыщенной цинком. Помогают в избавлении от паразитов – плоских червей.</div>
                            </div>
                            <div class="sostav__col">
                                <div class="sostav__name">Семена папайи</div>
                                <div class="sostav__description">Способствуют общему оздоровлению, а также очищению и защите пищеварения от круглых червей и нематод. Убивают и замедляют рост бактерий типа Escherichia coli, Staphylococcus aureus, Salmonella typhi (возбудитель тифа) и Pseudomonas aeruginosa.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section_advantages">
            <div class="container">
                <div class="advantages">
                    <h2 class="advantages__title">преимущества <mark>Wormin</mark></h2>
                    <div class="advantages__body">
                        <div class="advantages__info">
                            <div class="advantages__list">
                                <div class="advantages__item"><p><span>-1.</span> Способствует очищению организма</p></div>
                                <div class="advantages__item"><p><span>-2.</span> Благоприятно влияет на работу ЖКТ</p></div>
                                <div class="advantages__item"><p><span>-3.</span> Помогает избавиться от вредоносных микроорганизмов</p></div>
                            </div>
                        </div>
                        <div class="advantages__media"><img src="../media/product.png" alt=""></div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/face') %>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>