<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <%- include('block/face') %>
        <section class="section section_sostav">
            <div class="container">
                <div class="sostav">
                    <div class="sostav__title section__title">Состав <mark></mark></div>
                    <div class="sostav__body">
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-1.jpg" alt=""></div>
                                <div class="sostav__name">Гамамелис</div>
                                <div class="sostav__description">богат флавоноидами и дубильными веществами. Танины обладают замечательным вяжущим свойством, а также обладают антибактериальным действием. Смягчает поверхностный слой кожи, предотвращает появление воспалений.</div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-2.jpg" alt=""></div>
                                <div class="sostav__name">Масло розмарина</div>
                                <div class="sostav__description">восстанавливает эластичность верхнего слоя кожи (эпидермиса) и смягчает ее грубые участки. Его также используют для скорейшего удаления шрамов.</div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-3.jpg" alt=""></div>
                                <div class="sostav__name">Масло тимьяна</div>
                                <div class="sostav__description">обладает антисептическими, бактерицидными свойствами, повышает приток крови к коже и тем самым ускоряет заживление ран и проблем с кожей.</div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__box">
                                <div class="sostav__media"><img src="../media/sostav/img-4.jpg" alt=""></div>
                                <div class="sostav__name">Масло чайного дерева</div>
                                <div class="sostav__description">обладает очень сильным антисептическим действием, глубоко проникает в подкожный слой, лечит проблемные участки кожи, не повреждая здоровые клетки.</div>
                            </div>
                        </div>
                    </div>
                    <div class="sostav__product"><img src="../media/product-2.png" alt=""></div>
                </div>
            </div>
        </section>
        <section class="section section_advantages">
            <div class="advantages">
                <div class="advantages__head">
                    <div class="container">
                        <h2 class="advantages__title section__title"><span>Преимущества</span> zenidol <mark></mark></h2>
                    </div>
                </div>
                <div class="container">
                    <div class="advantages__body">
                        <div class="advantages__info">
                            <div class="advantages__list">
                                <div class="advantages__item"><p>Помогает уменьшить неприятные проявления грибковой инфекции</p></div>
                                <div class="advantages__item"><p>Способствует нормальной работе потовых желез</p></div>
                                <div class="advantages__item"><p>Помогает создать защитный барьер, предотвращающий повторение инфекции</p></div>
                            </div>
                        </div>
                        <div class="advantages__media"><img src="../media/product-3.png" alt=""></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section_face section_pb">
            <div class="container">
                <div class="face">
                    <h1 class="face__title">zenidol <mark>помогает в борьбе с грибком</mark></h1>
                    <div class="face__price">Цена: 999</div>
                    <div class="face__btn"><a class="btn" href="">Заказать сейчас</a></div>
                    <div class="face__media"><img src="../media/product.png" alt=""></div>
                    <div class="face__body">
                        <div class="face__row">
                            <div class="face__item">Помогает снять зуд и шелушение кожи</div>
                            <div class="face__item">Способствует устранению симптомов грибка</div>
                        </div>
                        <div class="face__row">
                            <div class="face__item">Помогает устранить неприятный запах</div>
                            <div class="face__item">Помогает снять раздражение кожи</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>